* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.services__heading, .experience .tab__links.active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
}

.services__subheading {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.services__heading {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: bold;
  color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 26.82px;
  color: #24A3FF;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.container {
  padding: 0 30px;
}

.main {
  position: relative;
  padding-bottom: 60px;
  color: #FFFFFF;
  border-radius: 0 0 12px 12px;
}

.main::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 89.33333%;
  height: 10px;
  background-color: #CACADB;
  border-radius: 0 0 12px 12px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main__shadow {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 78.66667%;
  height: 10px;
  background-color: #EDEDF7;
  border-radius: 0 0 12px 12px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header a {
  color: #fff;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  position: relative;
}

.header__block--bg {
  background-color: rgba(245, 245, 250, 0.2);
}

.header__block .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
}

.header__block .language__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.header__block .language__item--active {
  background-color: #F0145A;
  border-radius: 8px;
}

.header__block .contacts__item--desktop {
  display: none;
}

.header__block .contacts__item--phone {
  font-weight: bold;
}

.header__block .logo__img {
  width: 70px;
}

.header__block .nav {
  position: absolute;
  width: 18px;
  top: 28%;
  right: 15px;
}

.header__block .nav__toggle {
  opacity: 0;
}

.header__block .nav__toggle:checked ~ .nav__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__block .nav__toggle:checked ~ .nav__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header__block .nav__toggle:checked ~ .nav__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__block .nav__toggle:checked ~ .nav__box {
  visibility: visible;
  bottom: -1px;
}

.header__block .nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.header__block .nav__btn > span,
.header__block .nav__btn > span::before,
.header__block .nav__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__block .nav__btn > span::before {
  content: '';
  top: -6px;
}

.header__block .nav__btn > span::after {
  content: '';
  top: 6px;
}

.header__block .nav__box {
  display: block;
  position: fixed;
  visibility: hidden;
  bottom: -100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 12px 8px;
  background-color: #FFFFFF;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__block .nav__item {
  display: block;
  text-align: center;
  margin-top: 15px;
  background-color: #F5F5FA;
  border-radius: 12px;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__block .nav__link {
  display: block;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #24A3FF;
}

.header__block .nav__link:active {
  color: #F0145A;
}

.splash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background: url(../img/general/symbol.svg) no-repeat center center;
  background-size: 140%;
}

.splash__heading {
  width: 84%;
  margin: 0 auto;
  font-size: 2.375rem;
  font-weight: bold;
  text-align: center;
}

.splash__btn {
  position: absolute;
  bottom: 5%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: url(../img/general/arrow-down.svg) no-repeat center center;
}

.experience .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 10px 30px;
  overflow-x: scroll;
}

.experience .tab::-webkit-scrollbar {
  width: 0;
}

.experience .tab__links {
  padding-right: 30px;
  font-size: 1.875rem;
  color: #B3B3BA;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.experience .tab__links.active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience__block {
  display: none;
  margin: 0 30px;
  padding-top: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}

.experience__block.active {
  display: block;
}

.experience__title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.experience__text {
  margin-top: 30px;
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

.services {
  margin-top: 10%;
  padding: 0 30px;
}

.services__subheading {
  color: #24A3FF;
}

.services__heading {
  margin-top: 10px;
}

.services__block {
  margin-top: 30px;
}

.services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  height: 92px;
  background-color: #FFFFFF;
  border-radius: 24px;
}

.services__title {
  margin-top: 30px;
}

.services__text {
  line-height: 1.625rem;
}
/*# sourceMappingURL=style.css.map */