@import 'reset';
@import 'tools';

body {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    position: relative;
}

.container {
    padding: 0 $size;

    &--bg {
        background-color: $color-bg;
    }
}

.link {
    color: $active-regular;
}

.modal-btn {
    width: $size;
    height: $size;
    background: url(../img/general/hamburger.svg) center center no-repeat;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($main-regular, .7); 
    z-index: 99; 
    overflow: hidden; 

    &__content {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 95%;
        margin: 0 auto;
        padding: $size*2 $size/3 $size/3 $size/3;
        background-color: $color-light;
        border-radius: 12px 12px 0 0;
        transform: translate(-50%, 0);
        animation-name: modal;
        animation-duration: 0.5s
    }

    .nav {

        &--tablet {
            display: none;
        }

        &__item {
            text-align: center;

            &:not(:first-child) {
                margin-top: 12px;
            }
        }

        &__link {
            display: block;
            padding: $size/4 0;
            font-size: 24px/16px *1rem;
            font-weight: bold;
            color: $active-regular;
            background-color: $color-bg;
            border-radius: 12px;

            &.active {
                color: $accent;
            }

            &:active {
                background-color: $color-separator;
            }
        }
    }

}


.close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 18px;
    height: 18px;

    &::before, &::after {
        position: absolute;
        left: 9px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: #EC6F5D;
    }

    &::before {
        transform: rotate(45deg);
    }
    
    &::after {
        transform: rotate(-45deg);
    }
}


.main {
    @extend %gradient-supersoft;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: $size*2;
    color: $color-light;
    border-radius: 0 0 12px 12px;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -$size/3;
        width: 335px/375px *100%;
        height: $size/3;
        background-color: #CACADB;
        border-radius: 0 0 12px 12px;
        transform: translate(-50%, 0);
    }

    &__shadow {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        width: 295px/375px *100%;
        height: $size/3;
        background-color: $color-bg-alt;
        border-radius: 0 0 12px 12px;
        transform: translate(-50%, 0);
    }
}


.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    a {
        color: #fff;
    }

    .container {
        padding: 0;
    }

    &__block {
        @include flex(row, space-between, center);
        padding: $size/3 $size/2;
        position: relative;
    
        &--bg {
            background-color: rgba($color-bg, .2);
        }

        .language {
            @include flex(row, space-between, center);
            font-size: 12px/16px*1rem;

            &__item {
                @include flex(row, center, center);
                width: 33px;
                height: 25px;
                font-weight:bold;
                text-transform: uppercase;

                &--active {
                    background-color: $accent;
                    border-radius: 8px;
                }
            }
        }

        .contacts {

            &__item {
                
                &--desktop {
                    display: none;
                }

                &--phone {
                    font-weight: bold;
                }
            }

            .dot {
                display: none;
            }
        }

        .logo {

            &__img {
                width: 70px;
            }
        }
    }

    .nav {
        display: none       
    }
}

.splash {
    @include flex(row, center, center);
    position: relative;
    height: 100vh;
    background: url(../img/general/symbol.svg) no-repeat center center;
    background-size: 140%;

    &__heading {
        width: 315px/375px *100%;
        margin: 0 auto;
        font-size: 38px/16px *1rem;
        font-weight: bold;
        text-align: center;
    }

    &__btn {
        position: absolute;
        bottom: 5%;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid rgba($color-light, .5);
        background: url(../img/general/arrow-down.svg) no-repeat center center;
    }
    
}

.experience {

    .tab {
        @include flex(row, space-between, center);
        padding: $size 0 $size/3 $size;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }

        &__links {
            padding-right: $size;
            font-size: 30px/16px *1rem;
            color: $color-text;
            font-weight: bold;
            text-align: left;
            white-space: nowrap;
            background-color: inherit;
            cursor: pointer;
            transition: 0.3s;

            &.active {
                @extend %gradient-text;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__block {
        display: none;
        margin: 0 $size;
        padding-top: $size;
        border-top: 4px solid rgba($color-light, .3);

        &.active {
            display: block;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 20px/16px *1rem;
        line-height: 24px/16px *1rem;
    }

    &__text {
        margin-top: $size;
        font-size: 19px/16px *1rem;
        line-height: 30px/16px *1rem;
    }
}

.services {
    margin-top: 10%;
    padding: 0 $size;

    &__subheading {
        @extend %link-subheading;
        color: $active-regular;
    }

    &__heading {
        @extend %heading;
    }

    &__block {
        margin-top: $size;
    }

    &__icon {
        @include flex(row, center, center);
        width: 92px;
        height: 92px;
        background-color: $color-light;
        border-radius: 24px;
    }

    &__title {
        @extend %title;
        margin-top: $size;
    }

    &__text {
        line-height: 26px/16px *1rem;
    }
}



.owl-dots {
    @include flex(row, center, center);
    margin-top: $size;
    .owl-dot {
        display: inline-block;
        zoom: 1;

        span {
            width: 16px;
            height: 16px;
            margin: 5px 7px;
            background-color: rgba($active-regular, .2);
            display: block;
            backface-visibility: visible;
            transition: opacity .2s ease;
            border-radius: 30px;
        }

        &.active {

            span {
                background-color: $active-regular;
            }
        }
    }
}

.team {
    padding: $size 0;

    &__block {
        background-color: $color-bg;
        border-radius: 12px;
        overflow: hidden;
    }

    .img__wrap {
        width: 100%;
        height: 500px;

        .img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__description {
        padding: $size; 
    }

    &__link {
        @extend %link-subheading;
    }

    &__title {
        @extend %heading;
        margin-bottom: $size;
    }

    &__text {
        color: $color-text;

        &--important {
            font-weight: bold;
            margin-bottom: $size/5;
        }
    }
}

.clients {
    padding-top: $size;
    text-align: center;

    &__heading {
        margin-bottom: $size;
        font-size: 14px/16px *1rem;
        font-weight: bold;
        color: $main-regular;
        text-transform: uppercase;
    }
    
    &__item {
        width: 100%;
        height: $size*4;

        &--hillel {
            background: #1C4280 url(../img/clients/hillel.png) center center no-repeat;
            background-size: 60%;
        }
        
        &--wannab {
            background: #143646 url(../img/clients/wannabiz.png) center center no-repeat;
            background-size: 56%;
        }
        
        &--tapgerine {
            background:#F48B30 url(../img/clients/tapgerine.png) center center no-repeat;
            background-size: 51%;
        }
        
        &--3dlook {
            background:#9E4DC3 url(../img/clients/3dlook.png) center center no-repeat;
            background-size: 51%;
        }
       
        &--orangegear {
            background:#FD9339 url(../img/clients/orangear.png) center center no-repeat;
            background-size: 51%;
        }

        &--addtellige {
            background:#E2E2E4 url(../img/clients/adtelligent.png) center center no-repeat;
            background-size: 53%;
        }

        &--clickky,
        &--ecoleasing, 
        &--infratek,
        &--citypark,
        &--artprint,
        &--ultimate {
            display: none;
        }

    }
}

.news {
    padding: $size 0;
    background-color: $color-bg;
    border-radius: 12px;

    &__subheading {
        @extend %link-subheading;
    }

    &__heading {
        @extend %heading;
        margin-bottom: $size;
    }

    &__block {
        background-color: $color-light;
        border-radius: 12px;
        overflow: hidden;

        &:not(:first-child) {
            margin-top: $size;
        }
    }

    .img__wrap {
            width: 100%;
            height: 200px;

        .img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__info {
        padding: $size;
    }

    &__title {
        margin-bottom: $size/2;
        font-weight: bold;
        color: $active-regular;
    }

    &__subtitle {
        margin-bottom: $size/2;
        font-size: 12px/16px *1rem;
        font-weight: bold;
        color: $color-text;
        text-transform: uppercase;
    }
    &__text {
        padding-top: $size/2;
        font-size: 14px/16px *1rem;
        line-height: 22px/16px *1rem;
        color: $color-black;
        border-top: 4px solid $color-separator;
    }
}

.footer {
    padding: $size 0;
    text-align: center;
    border-top: 2px solid $color-separator;

    .contacts {

        &:not(:first-child) {
            margin-top: $size*0.75;
        }

        &__item {

            &:not(:first-child) {
                margin-top: $size/2;
            }

            .link {
                @extend %link-subheading;
                font-size: 12px/16px *1rem;
            }

            .phone {
                font-weight: bold;
                color: $main-alt;
            }

            .mail {
                font-weight: bold;
                color: $active-regular;
            }
        }

        &__vec {

            path {
                fill: $active-regular;
            }
        
            &:hover path {
                fill: $accent;
            }
        }
    }   

    &__text {
        margin-top: $size;
        color: $color-text;
    }
}

@keyframes modal {
    from {
        opacity:0;
        bottom: -150%;
    }
    to {
        opacity:1;
        bottom: 0;
    }
}

@media screen and (min-width:768px) {

    .container {
        padding: 0 $size*2;  
    }

    .splash {
        background-size: 117%;
    }

    .modal-btn {
        display: none;
    }

    .header {
        padding: $size*2 0 0 0;

        .container {
            padding: 0 $size*2;  
        }

        &__block {
            justify-content: left;
            padding: $size/3 0;
            
            &--bg {
                background: none;
            }

            &--column {
                @include flex(column, flex-start, flex-start);
            }
        }

        .logo {
            margin: $size/2 0 $size 0;

            &__img {
                width: 130px;
            }
        }

        .contacts {
            @include flex(row, center, center);
            
            &__item {
                @include flex(row, center, center);

                &--desktop {
                    display: block;
                }
            }

            &__link {

                &.address {
                    color: $color-text;
                }

                &.phone {
                    font-weight: bold;
                }
            }

            .dot {
                display: block;
                margin: 0 $size/5;
            }
        }

        .nav {
            &--tablet {
                display: block;
                @include flex(row, flex-start, center);
                width: 100%;
            }
            
        }
    }
}