.news {

    &--feed {
        padding-bottom: $size*2;

        .tab {
            @include flex(row, center, center);
            margin-bottom: $size;
            
    
            &__wrapper {
                display: inline-block;
                background-color: $color-separator;
                border: 2px solid $color-separator;
                border-radius: $radius;
                overflow: hidden;
            }
    
            &__links {
                padding: $size/3 $size;
                font-weight: bold;
                color: $main-regular;
                background: none;
                border-radius: 10px;
                transition: all .4s;

                &:hover {
                    background-color: $color-bg;
                }

                &.active {
                    background-color: $color-light;
                }
            }
        }
    }
}
    

@media screen and (min-width:768px) {
    .news {

        &--feed{
       
            .news__wrapper {
                @include flex(row, space-between, stretch);
            }

            .news__block {
                margin-bottom: $size;
            }
        }
    }
}

@media screen and (min-width:1024px) {
 
}